<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Tabelog Tracker</title>
    </head>
    <body>
        <div class="header">
            <h1>Tabelog Tracker</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Location</h2>
                <form method="post">
                    <input type="text" id="name" name="name" placeholder="LINK">
                    <input type="submit" value="SUBMIT" style="background-color: cyan; color: white; padding: 5px; border: none; border-radius: 5px;">
                </form>
            </div>
    <div>
        <p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.745042883789!2d103.76036590917778!3d1.3290055986528024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da11a69aa0ac43%3A0xca88158b0ea52b74!2sClementi%20Camp!5e0!3m2!1sen!2ssg!4v1732959510205!5m2!1sen!2ssg" 
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p>
    </div>
    </body>
</html>
